---
---
$base-font-weight: 400;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$small-font-size: 14px;

$spacing-unit: 30px;

$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: #e8e8e8;
$grey-color-dark: #424242;

$content-width: 800px;

$on-laptop: $content-width;
$on-palm: 600px;

@mixin media-query($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

@import "bootstrap";
@import "base";
@import "layout";
@import "syntax-highlighting";
