<header class="site-header">
  <div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{{ site.baseurl }}/index.html">{{ site.title }}</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
                  <li><a class="page-link" href="/research.html">Research</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topics<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/topics/association.html">相関ルール</a></li>
                      <li><a href="/topics/markov.html">薬剤経済学と計量薬学</a></li>
                      <li><a href="/topics/signal.html">シグナル検出</a></li>
                      <li><a href="/topics/nonpara.html">ノンパラメトリック回帰</a></li>
                      <li><a href="/topics/phepi.html">薬剤疫学</a></li>
                    </ul>
                  </li>

                  <li><a class="page-link" href="/publications.html">Publications</a></li>
                  <li><a class="page-link" href="/members.html">Members</a></li>
                  <li><a class="page-link" href="/TERMS">TERMS</a></li>
                  <li><a class="page-link" href="/links.html">Links</a></li>
</ul>
        </div><!--/.navbar-collapse -->

      </div>
    </nav>
  </div>
</header>
